---
import type { Album } from "../types";
import PlayButton from "./PlayButton.astro";

interface Props {
  album: Album;
}

const { album } = Astro.props;
---

<header>
  <h2>
    <span property="name">{album.title}</span>
  </h2>
  <PlayButton href={album.spotify} />
</header>

<div class="cover-song-list">
  <div class="cover">
    <picture>
      <source type="image/webp" srcset={album.cover.asset.webp} />
      <img src={album.cover.asset.url} alt="Album cover" property="image" />
    </picture>
    <p property="producer" typeof="Person" resource={album.producer.sameAs}>
      Produced by
      {
        album.producer.homePage ? (
          <a href={album.producer.homePage} property="url">
            <span property="name">{album.producer.name}</span>
          </a>
        ) : (
          <span property="name">{album.producer.name}</span>
        )
      }
      (<span property="datePublished">{album.year}</span>).
    </p>
  </div>
  <div class="songs">
    <h3>Songs</h3>
    <ol>
      {
        album.songs.map((song) => (
          <li property="track" typeof="MusicRecording">
            <a href={song.path} property="mainEntityOfPage">
              <span property="name">{song.title}</span>
            </a>
          </li>
        ))
      }
    </ol>
  </div>
</div>

<style>
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: var(--h2-font-size);
    gap: 0.5em;
    align-items: baseline;
  }
  h3 {
    margin-top: 0;
  }

  .cover-song-list {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(16px, 16px + 2vw, 32px);
    position: relative;
  }

  .cover {
    max-width: 400px;
  }

  .songs {
    min-width: 200px;
  }

  img {
    max-width: 100%;
    display: block;
    margin-bottom: 12px;
  }

  ol {
    padding-left: 1rem;
  }

  li {
    list-style-type: revert;
    margin-bottom: 4px;
  }

  li a {
    display: inline-flex;
    padding: 4px;
  }
</style>
