---
import type { Album, AppearsOn } from "../types";
import PlayButton from "./PlayButton.astro";
import { Image, Picture } from "astro:assets";

interface Props {
  albums: Album[];
  appearsOn: AppearsOn[];
}
const { albums, appearsOn } = Astro.props;
---

<h2>Albums</h2>
<ul class="albums">
  {
    albums.map((album, i) => (
      <li property="album" typeof="MusicAlbum" resource={album.resourceURI}>
        <a href={album.path} property="mainEntityOfPage">
          <Picture
            src={album.cover.asset.url}
            formats={["avif", "webp"]}
            alt={album.coverAlt}
            width="600"
            height="600"
            loading={i < 2 ? "eager" : "lazy"}
            fetchpriority={i < 2 ? "high" : "auto"}
          />
          <div class="title">
            <span property="name">{album.title}</span>(
            <span property="datePublished">{album.year}</span>)
          </div>
        </a>
      </li>
    ))
  }
</ul>
<h2>Collaborations</h2>
<ul class="collaborations">
  {
    appearsOn.map((item) => (
      <li property="track" typeof="MusicRecording">
        <PlayButton href={item.spotify} />
        <span property="byArtist" resource={item.by.sameAs} typeof="Artist">
          {item.by.homePage ? (
            <a href={item.by.homePage} property="url">
              <span property="name">{item.by.name}</span>
            </a>
          ) : (
            <span property="name">{item.by.name}</span>
          )}
        </span>
        :
        <span class="title" property="name">
          {item.title}
        </span>
        (<span property="datePublished">{item.year}</span>)
      </li>
    ))
  }
</ul>

<style>
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  ul {
    margin-bottom: 40px;
  }
  ul.albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 60%));
    gap: var(--large-gap);
  }
  .albums li {
    list-style: none;
    padding-bottom: var(--small-gap);
  }

  .albums li a img {
    display: block;
    width: 100%;
    height: fit-content;
    aspect-ratio: 1;
    margin-bottom: 12px;
    background-color: #e9ded2;
  }

  .collaborations li {
    list-style: none;
    margin-bottom: 12px;
  }

  .collaborations :global(i) {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    text-align: center;
  }

  .collaborations .title {
    font-style: italic;
  }
</style>
