---
import type { Song } from "../types";
import SongCreator from "./SongCreator.astro";
import VideoComponent from "./VideoComponent.astro";

interface Props {
  song: Song;
  origin: string;
}

const { song, origin } = Astro.props;
---

<h2 property="name">{song.title}</h2>
{
  song.lyrics ? (
    <div
      property="lyrics"
      typeof="CreativeWork"
      resource={song.resourceURI + "#lyrics"}
    >
      <div class="lyrics" property="text">
        {song.lyrics}
      </div>
    </div>
  ) : (
    <div class="lyrics">{"[Lyrics not available yet]"}</div>
  )
}

<footer>
  <p property="inAlbum" typeof="MusicAlbum" resource={song.album.resourceURI}>
    Song recorded by
    <span property="byArtist" typeof="MusicGroup" resource={origin}>
      <span property="name">Maria Due</span>
    </span>
    in
    <span property="datePublished">{song.album.year}</span>
    on the album
    <a
      href={song.album.path}
      property="mainEntityOfPage"
      resource={song.album.resourceURI}
    >
      <span property="name">{song.album.title}</span></a
    >.
  </p>
  <p><SongCreator {song} {origin} /></p>
  {
    song.video && (
      <div class="video" property="video" typeof="VideoObject">
        <VideoComponent
          video={{
            url: song.video,
            id: song.videoId,
            title: song.title,
            sortOrder: 0,
          }}
          {origin}
        />
      </div>
    )
  }
</footer>

<style>
  p {
    margin: 16px 0;
  }
  .lyrics {
    font-style: normal;
    white-space: pre-wrap;
  }

  footer {
    margin-top: 32px;
    font-size: calc((14 / 16) * 1rem);
  }
  .video {
    max-width: 400px;
    margin: 32px 0;
  }
</style>
