---
import { Picture } from "astro:assets";
import type { Video } from "../types";

interface Props {
  video: Video;
  origin: string;
}

const { video, origin } = Astro.props;

const id =
  origin + "/#video--" + video.title.replaceAll(" ", "-").toLowerCase();
---

<div class="wrapper" resource={id} typeof="VideoObject">
  <meta property="musicBy" typeof="MusicGroup" resource={origin} />
  <meta property="description" content="Music video by Maria Due" />
  <meta property="contentUrl url" content={video.url} />
  <meta property="name" content={video.title} />
  <meta
    property="thumbnailUrl"
    content={`https://img.youtube.com/vi/${video.id}/0.jpg`}
  />

  <a href={video.url} rel="noreferrer" target="_blank">
    <Picture
      src={`https://img.youtube.com/vi/${video.id}/0.jpg`}
      alt=""
      height="200"
      width="400"
      loading={video.sortOrder < 3 ? "eager" : "lazy"}
      fetchpriority={video.sortOrder < 3 ? "high" : "auto"}
    />
    <i class="play-button" aria-hidden="true">&#xf144;</i>

    <p aria-label={video.title + " (on Youtube)"}>
      {video.title}<i>&#xf08e;</i>
    </p>
  </a>
</div>

<style>
  .iframe-wrapper {
    position: relative;
    height: 0;
    padding-top: 25px;
    padding-bottom: 68%;
  }

  a {
    display: block;
    position: relative;
  }

  img {
    object-fit: cover;
    background-color: black;
    max-width: 100%;
  }

  i {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
  }

  .play-button {
    /* border: 2px solid white; */
    background-color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    top: calc(50% - 2.5rem);
    left: calc(50% - 1.5rem);
    font-size: 3rem;
    color: black;
  }
  a:visited .play-button {
    color: black;
  }
  a:active .play-button,
  a:hover .play-button {
    color: var(--color-primary);
  }

  p {
    height: 1.2em;
  }
  p i {
    display: inline-block;
    width: 1.5rem;
    text-align: center;
  }
</style>
