---
import type { Video } from "../types";

interface Props {
  video: Video;
  showLink: boolean;
  origin: string;
}

const { video, showLink, origin } = Astro.props;

const id =
  origin + "/#video--" + video.title.replaceAll(" ", "-").toLowerCase();

const embedUrl =
  "https://www.youtube.com/embed/" + video.id + "?autoplay=0&modestbranding=1";
---

<div class="wrapper" resource={id} typeof="VideoObject">
  <meta property="musicBy" typeof="MusicGroup" resource={origin} />
  <meta property="description" content="Music video by Maria Due" />
  <meta property="contentUrl url" content={video.url} />
  <meta property="embedUrl" content={embedUrl} />
  <meta property="name" content={video.title} />
  <meta
    property="thumbnailUrl"
    content={`https://img.youtube.com/vi/${video.id}/0.jpg`}
  />
  <div class="iframe-wrapper">
    <iframe
      allow-fullscreen="allowfullscreen"
      id="ytplayer"
      width="640"
      height="360"
      src={embedUrl}
      title={video.title}></iframe>
  </div>
  <p style={showLink ? undefined : "display: none"}>
    <a href={video.url}><span>{video.title}</span></a>
  </p>
</div>

<style>
  .iframe-wrapper {
    position: relative;
    height: 0;
    padding-top: 25px;
    padding-bottom: 68%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 96%;
    background-color: black;
  }
</style>
