---
import "../styles/global.css";

import Header from "../components/Header.svelte";
import { BreadCrumb } from "../types";

const {
  title = "Maria Due",
  breadCrumb = [] as BreadCrumb,
  ogImage = "/assets/icon-512x512.png",
  property,
  typeOf,
  resource }
  = Astro.props;
const { url, canonicalURL  } = Astro.request;

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="zo-B2TdZe7lSw-ZoS0usXLKmwI380HjWKWlsSzFKVa8">
	<title>{title}</title>
  <link rel="canonical" href={canonicalURL}>
  <link rel="shortcut icon" href="/assets/icon-48x48.png">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="og:image" href={ogImage} />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono:ital,wght@1,300&family=Roboto+Slab:wght@400;700&display=swap">

</head>
<body vocab="http://schema.org/" typeof="MusicGroup" resource={canonicalURL.origin}>
  <div style="display: none">
    <span property="sameAs">https://www.wikidata.org/wiki/Q17143368</span>
    <span property="sameAs">https://viaf.org/viaf/73145971487332332164/</span>
    <span property="sameAs">https://no.wikipedia.org/wiki/Maria_Due</span>
  </div>
  <Header {breadCrumb} {url} />
  <main {property} typeof={typeOf} {resource}>
    <slot />
  </main>
</body>
</html>
